body {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0px;
  margin: 0px;
}

.min-height-width {
  min-height: 100vh;
  min-width: 100vw;
}

.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.title-section {
  position: absolute;
  top: 40px
}

.title-txt {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.button-section {
  background-color: white;
  display: flex;
  width: auto;
  background: transparent;
  column-gap: 10px;
  margin-bottom: 20px;
}

button {
  background: white;
  color: black;
  border-radius: 5px;

}

button:hover {
  animation: button-click 0.5s ease forwards;
}

@keyframes button-click {
  from {
    position: relative;
    transform: translate(0px, 0px);

  }

  to {
    position: relative;
    transform: translate(0px, -8px);
  }
}